---
permalink: "/acceso_servicios/index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Justicia Abierta | Acceso a Servicios</title>
<link rel="stylesheet" href="/css/main.css" type="text/css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<style>
    #map {
        height: 500px; /* Puedes ajustar la altura según tus necesidades */
        width: 100%;
    }
</style>
{% endblock %}

{% block content %}
    <div class="section m-0 py-6" style="background-image:url('/ELEMENTOS/ELEMENTOS MEJORAS_JA/SLIDER/JA-18.png');background-repeat: no-repeat;background-size: 100% 100%;">
        <div class="container">
            <div class="row my-6 py-6">
                <div class="col-lg-6 d-flex" style="align-items:center">
                    <div class="my-6" style="text-align:left">
                        <h3 class="text-white notranslate" style="font-size:40px; margin-bottom:5px">Mapa Interactivo de Acceso a Servicios de Justicia para Mujeres </h3>
                        <h3 class="text-white" style="font-size:24px;font-weight:400;line-height:32px">Encuentra los recursos y servicios de justicia que necesitas, en un solo lugar</h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="my-6" style="text-align:center">
                        <img style="padding:15px" src="/ELEMENTOS/ELEMENTOS MEJORAS_JA/SLIDER/JA-17.png">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section m-0">
        <div class="container my-6">
            <div class="row">
                <div class="col-xl-12 my-4 text-center">
                    <h1>¿Qué es?</h1>
                    <p>
                        El <b>Mapa Interactivo de Acceso a Servicios de Justicia para Mujeres</b> es una herramienta digital diseñada para facilitar el acceso a información detallada sobre los recursos y servicios de justicia disponibles para mujeres y diversidades de género en Guatemala. Este mapa interactivo proporciona información actualizada sobre la ubicación, tipo de servicios ofrecidos, horarios de atención y datos de contacto de instituciones de justicia, refugios, centros de apoyo y otros recursos esenciales.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 ">
                    <img src="/ELEMENTOS/ELEMENTOS MEJORAS_JA/ICONOS/EVENTOS-18.png">
                </div>

                <div class="col-lg-6 my-4 d-flex align-items-center">
                    <div>
                        <h3 class="text-left" style="color:#666!important">Metodología</h3>
                    
                        <p style="font-size:18px;line-height:22px;">
                            El desarrollo del Mapa Interactivo se basa en una metodología rigurosa que incluye:
                            <ul class="listv2">
                                <li><b>Recopilación de Datos:</b> Se obtienen datos geográficos y de servicios de diversas instituciones de justicia y organizaciones de apoyo. Esto incluye información sobre la ubicación, tipos de servicios, horarios de atención y datos de contacto.</li>
                                <li><b>Verificación de Información:</b>  Los datos recopilados son verificados y actualizados regularmente para asegurar su precisión y relevancia.</li>
                                <li><b>Desarrollo de la Plataforma:</b> Utilizando herramientas de Sistemas de Información Geográfica (GIS), se crea un mapa interactivo que es fácil de usar y accesible para todos los usuarios.</li>
                                <li><b>Colaboración Continua:</b> Se mantiene una colaboración constante con las instituciones y organizaciones para asegurar que la información del mapa se mantenga actualizada y relevante.</li>
                            </ul>
                        </p>
                    </div>
                
                </div>

                <div class="col-lg-6 my-4 d-flex align-items-center">
                    <div>
                        <h3 class="text-left" style="color:#666!important">¿Cómo funciona?</h3>
                    
                        <p style="font-size:18px;line-height:22px;">
                            El Mapa Interactivo de Acceso a Servicios de Justicia para Mujeres permite a los usuarios buscar y localizar rápidamente los servicios de justicia y apoyo disponibles en su área. La plataforma está diseñada para ser intuitiva y fácil de navegar, ofreciendo una experiencia de usuario fluida y eficiente.
                            <br>
                            Características principales:
                            <ul class="listv2">
                                <li><b>Búsqueda por Ubicación:</b> Los usuarios pueden buscar servicios ingresando su ubicación o permitiendo que la plataforma acceda a su ubicación actual.</li>
                                <li><b>Filtros Personalizables:</b>  Los usuarios pueden filtrar los resultados por tipo de servicio, como refugios, asesoría legal, centros de salud, y más.</li>
                                <li><b>Detalles de Servicios:</b> Cada punto en el mapa proporciona información detallada sobre los servicios disponibles, incluyendo horarios de atención y datos de contacto.</li>
                            </ul>
                        </p>
                    </div>
                
                </div>
                <div class="col-lg-6">
                    <img src="/ELEMENTOS/ELEMENTOS MEJORAS_JA/ICONOS/EVENTOS-17.png">
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12 my-4 text-center">
                    <p class="text-center">
                        Con el <b>Mapa Interactivo de Acceso a Servicios de Justicia para Mujeres</b>, encontrarás rápidamente los recursos que necesitas para obtener apoyo y justicia. Esta herramienta está diseñada para empoderar a las mujeres y diversidades de género, facilitando su acceso a la ayuda necesaria en momentos críticos.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 my-4">
                    <h3>Nomenclatura del Mapa</h3>
                    <div class="d-flex align-items-center">
                        <img style="width: 30px; height: 30px; margin-right: 10px;" src="/ELEMENTOS/institucion.png">
                        <p class="mb-0">Institución</p>
                    </div>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_javascripts %}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="/js/mapa.js"></script>
{% endblock %}
