---
permalink: "/analisis_de_sentencias/index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Justicia Abierta | Análisis de Sentencias con Perspectiva de Género</title>
<link rel="stylesheet" href="/css/main.css" type="text/css" />
{% endblock %}

{% block content %}
    <div class="section m-0 py-6" style="background-image:url('/ELEMENTOS/ELEMENTOS MEJORAS_JA/SLIDER/JA-18.png');background-repeat: no-repeat;background-size: 100% 100%;">
        <div class="container">
            <div class="row my-6 py-6">
                <div class="col-lg-6 d-flex" style="align-items:center">
                    <div class="my-6" style="text-align:left">
                        <h3 class="text-white notranslate" style="font-size:40px; margin-bottom:5px">Análisis de Sentencias con Perspectiva de Género</h3>
                        <h3 class="text-white" style="font-size:28px;font-weight:400;line-height:32px">Plataforma digital utiliza tecnologías avanzadas de Procesamiento de Lenguaje Natural (PLN) para analizar sentencias judiciales emitidas en Guatemala.</h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="my-6" style="text-align:center">
                        <img style="padding:15px" src="/ELEMENTOS/ELEMENTOS MEJORAS_JA/SLIDER/JA-17.png">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Seccion -->
    <div class="section m-0" style="background-color:#f1f5fd">
        <div class="container py-6">
            <div class="row ">
            
                <div class="col-lg-12 my-4">
                    <h2 class="text-left">Lorem ipsum</h2>
                </div>
                
                <div class="col-lg-6">
                    <img src="/ELEMENTOS/ELEMENTOS MEJORAS_JA/ICONOS/EVENTOS-17.png">
                </div>

                <div class="col-lg-6 my-4 d-flex align-items-center">
                    <div>
                        <h3 class="text-left" style="color:#666!important">Sube tu Información aca</h3>

                        <div class="row">
                            <div class="col-lg-12 my-4">
                                <a class="btn" href="#" style="margin-right: 10px;">Más Información</a>

                                <a class="btn" href="#">Analiza tu Archivo <i class="fa-solid fa-upload"></i></a>
                            </div>
                        </div>
     
                    </div>
                </div>

                <div class="col-lg-6 my-4 d-flex align-items-center">
                    <div>
                        <h3 class="text-left" style="color:#666!important">Lorem ipsum</h3>
                    
                        <p style="font-size:18px;line-height:22px;">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                
                </div>

                <div class="col-lg-6 my-4">
                    <img src="/ELEMENTOS/ELEMENTOS MEJORAS_JA/ICONOS/EVENTOS-18.png">
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}

{% block body_javascripts %}

{% endblock %}
