---
permalink: "/analisis_de_sentencias/index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Justicia Abierta | Análisis de Sentencias con Perspectiva de Género</title>
<link rel="stylesheet" href="/css/main.css" type="text/css" />
{% endblock %}

{% block content %}
    <div class="section m-0 py-6" style="background-image:url('/ELEMENTOS/ELEMENTOS MEJORAS_JA/SLIDER/JA-18.png');background-repeat: no-repeat;background-size: 100% 100%;">
        <div class="container">
            <div class="row my-6 py-6">
                <div class="col-lg-6 d-flex" style="align-items:center">
                    <div class="my-6" style="text-align:left">
                        <h3 class="text-white notranslate" style="font-size:40px; margin-bottom:5px">Análisis de Sentencias con Perspectiva de Género</h3>
                        <h3 class="text-white" style="font-size:28px;font-weight:400;line-height:32px">Plataforma digital utiliza tecnologías avanzadas de Procesamiento de Lenguaje Natural (PLN) para analizar sentencias judiciales emitidas en Guatemala.</h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="my-6" style="text-align:center">
                        <img style="padding:15px" src="/ELEMENTOS/ELEMENTOS MEJORAS_JA/SLIDER/JA-17.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_javascripts %}

{% endblock %}
