---
permalink: "/analisis_page/index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Justicia Abierta | Análisis de Sentencias con Perspectiva de Género</title>
<link rel="stylesheet" href="/css/main.css" type="text/css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.7.570/pdf.min.js"></script>
{% endblock %}

{% block content %}
<div class="section m-0 py-6" style="background-image:url('/ELEMENTOS/ELEMENTOS MEJORAS_JA/SLIDER/JA-18.png');background-repeat: no-repeat;background-size: 100% 100%;">
    <div class="container">
        <div class="row my-6 py-6">
            <div class="col-lg-6 d-flex" style="align-items:center">
                <div class="my-6" style="text-align:left">
                    <h3 class="text-white notranslate" style="font-size:40px; margin-bottom:5px">Análisis de Sentencias con Perspectiva de Género</h3>
                    <h3 class="text-white" style="font-size:28px;font-weight:400;line-height:32px">Plataforma digital utiliza tecnologías avanzadas de Procesamiento de Lenguaje Natural (PLN) para analizar sentencias judiciales emitidas en Guatemala.</h3>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="my-6" style="text-align:center">
                    <img style="padding:15px" src="/ELEMENTOS/ELEMENTOS MEJORAS_JA/SLIDER/JA-17.png">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Sección -->
<div class="section m-0" style="background-color:#f1f5fd">
    <div class="container py-6">
        <div class="row">
            <div class="col-lg-12 my-4">
                <h2 class="text-left">Sube tu archivo para análisis</h2>
            </div>
            <div class="col-lg-6">
                <img src="/ELEMENTOS/ELEMENTOS MEJORAS_JA/ICONOS/EVENTOS-17.png">
            </div>
            <div class="col-lg-6 my-4 d-flex align-items-center">
                <div>
                    <h3 class="text-left" style="color:#666!important">Sube tu Información acá</h3>
                    <form id="uploadForm">
                        <div class="mb-3">
                            <label for="formFile" class="form-label">Selecciona tu archivo</label>
                            <input class="form-control" type="file" id="formFile">
                        </div>
                        <button type="button" class="btn btn-primary" onclick="analyzePDF()">Analiza tu Archivo <i class="fa-solid fa-upload"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" m-0" style="background-color: #fff;"> 
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center my-4">
                <div id="result1" class="mt-4"></div>
            </div>
            <div class="col-lg-6 my-4">
                <div id="result2" class="mt-4 text-center"></div>
            </div>
            <div class="col-lg-6 my-4">
                <div id="result3" class="mt-4 text-center"></div>
            </div>
        </div>
    </div>
</div>

<div class=" m-0" style="background-color: #f1f5fd;"> 
    <div class="container">
        <div class="row">
            <div class="col-lg-6 my-4">
                <div id="result4" class="mt-4 text-center"></div>
            </div>
            <div class="col-lg-6 my-4">
                <div id="result5" class="mt-4 text-center"></div>
            </div>
        </div>
    </div>
</div>

<div class=" m-0" style="background-color: #fff;"> 
    <div class="container">
        <div class="row">
            <div class="col-lg-6 my-4">
                <div id="result6" class="mt-4 text-center"></div>
            </div>
            <div class="col-lg-6 my-4">
                <div id="result7" class="mt-4 text-center"></div>
            </div>
        </div>
    </div>
</div>

<div class=" m-0" style="background-color: #f1f5fd;"> 
    <div class="container">
        <div class="row">
            <div class="col-lg-6 my-4">
                <div id="result8" class="mt-4 text-center"></div>
            </div>
            <div class="col-lg-6 my-4">
                <div id="result9" class="mt-4 text-center"></div>
            </div>
        </div>
    </div>
</div>


<div class=" m-0" style="background-color: #fff;"> 
    <div class="container">
        <div class="row">
            <div class="col-lg-6 my-4">
                <div id="result10" class="mt-4 text-center"></div>
            </div>
            <div class="col-lg-6 my-4">
                <div id="result11" class="mt-4 text-center"></div>
            </div>
        </div>
    </div>
</div>

<div class=" m-0" style="background-color: #f1f5fd;"> 
    <div class="container">
        <div class="row">
            <div class="col-lg-6 my-4">
                <div id="result12" class="mt-4 text-center"></div>
            </div>
            <div class="col-lg-6 my-4">
                <div id="result13" class="mt-4 text-center"></div>
            </div>
        </div>
    </div>
</div>

<div class=" m-0" style="background-color: #fff;"> 
    <div class="container">
        <div class="row">
            <div class="col-lg-6 my-4">
                <div id="result14" class="mt-4 text-center"></div>
            </div>
            <div class="col-lg-6 my-4">
                <div id="result15" class="mt-4 text-center"></div>
            </div>
        </div>
    </div>
</div>

<div class=" m-0" style="background-color: #f1f5fd;"> 
    <div class="container">
        <div class="row">
            <div class="col-lg-6 my-4">
                <div id="result16" class="mt-4 text-center"></div>
            </div>
            <div class="col-lg-6 my-4">
                <div id="result17" class="mt-4 text-center"></div>
            </div>
        </div>
    </div>
</div>

<div class=" m-0" style="background-color: #fff;"> 
    <div class="container">
        <div class="row">
            <div class="col-lg-6 my-4">
                <div id="result18" class="mt-4 text-center"></div>
            </div>
            <div class="col-lg-6 my-4">
                <div id="result19" class="mt-4 text-center"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body_javascripts %}
<script>
    async function analyzePDF() {
        const fileInput = document.getElementById('formFile');
        const file = fileInput.files[0];
        if (!file) {
            alert('Por favor selecciona un archivo');
            return;
        }

        const fileName = file.name;

        const reader = new FileReader();
        reader.onload = function() {
            const typedarray = new Uint8Array(this.result);

            pdfjsLib.getDocument({data: typedarray}).promise.then(async function(pdf) {
                let textContent = '';
                for (let i = 1; i <= pdf.numPages; i++) {
                    const page = await pdf.getPage(i);
                    const text = await page.getTextContent();
                    text.items.forEach(item => {
                        textContent += item.str + ' ';
                    });
                }

                // Extraer información usando expresiones regulares
                const expedienteRegex = /Expediente:\s*(\d{3,4}-\d{4})/i;
                const actoReclamadoRegex = /B\)\s+Acto\s+reclamado:\s*([^.]*)/i;
                const corteRegex = /Corte\s+([^.,]*)/i;
                const fechaRegex = /Guatemala,\s+((?:uno|dos|tres|cuatro|cinco|seis|siete|ocho|nueve|diez|once|doce|trece|catorce|quince|dieciséis|diecisiete|dieciocho|diecinueve|veinte|veintiuno|veintidós|veintitrés|veinticuatro|veinticinco|veintiséis|veintisiete|veintiocho|veintinueve|treinta|treinta y uno)\s+de\s+(?:enero|febrero|marzo|abril|mayo|junio|julio|agosto|septiembre|octubre|noviembre|diciembre)\s+de\s+(?:mil\s+novecientos\s+|dos\s+mil\s+)?(?:ochenta|noventa|cero|diez|veinte)?(?:[a-z]+))\./i;
                const considerando1Regex = /-I-*([\s\S]*?)\s*-II-/i;
                const considerando2Regex = /-II-*([\s\S]*?)\s*-III-/i;
                const considerando3Regex = /-III-*([\s\S]*?)\s*/i;
                const leyesRegex = /LEYES APLICABLES([\s\S]*?)POR TANTO/i;
                const porTantoRegex = /POR TANTO\s*([\s\S]*?)(?=\.\s\s\s|$)/i;

                const expediente = textContent.match(expedienteRegex);
                const actoReclamado = textContent.match(actoReclamadoRegex);
                const corte = textContent.match(corteRegex);
                const fecha = textContent.match(fechaRegex);
                const considerando1 = textContent.match(considerando1Regex);
                const considerando2 = textContent.match(considerando2Regex);
                const considerando3 = textContent.match(considerando3Regex);
                const leyes = textContent.match(leyesRegex);
                let porTanto = null;
                if (leyes) {
                    const porTantoSection = textContent.substring(textContent.indexOf(leyes[0]));
                    porTanto = porTantoSection.match(porTantoRegex);
                }

                let resultHTML1 = '<h4>Análisis del documento completado</h4>';
                let resultHTML2 = '';
                let resultHTML3 = '';
                let resultHTML4 = '';
                let resultHTML5 = '';
                let resultHTML6 = '';
                let resultHTML7 = '';
                let resultHTML8 = '';
                let resultHTML9 = '';
                let resultHTML10 = '';
                let resultHTML11 = '';
                let resultHTML12 = '';
                let resultHTML13 = '';
                let resultHTML14 = '';
                let resultHTML15 = '';
                let resultHTML16 = '';
                let resultHTML17 = '';
                let resultHTML18 = '';
                let resultHTML19 = '';

                if (corte) {
                    resultHTML2 += `<p><strong>1. Institución:</strong>  CORTE ${corte[1].trim()}</p>`;
                    resultHTML2 = '<img src="/ELEMENTOS/cc.jpg" class="img-cc">';
                    resultHTML3 += `La Corte de Constitucionalidad (CC) (oficialmente La Honorable Corte de Constitucionalidad de la República de Guatemala) es el tribunal permanente de jurisdicción privativa, cuya función esencial es la defensa del orden constitucional. Además actúa como Tribunal Extraordinario de Amparo.`
                } else {
                    resultHTML2 += `1. Institución:</strong> No encontrada</p>`;
                }

                if (expediente) {
                    resultHTML4 += `<p><strong>2. Número de expediente:</strong> <br><br>  ${expediente[0]}</p>`;
                    resultHTML5 += `<img src="/ELEMENTOS/cc.jpg" class="img-cc">`;
                } else {
                    resultHTML4 += `<p><strong>2. Número de expediente:</strong> No encontrado</p>`;
                    resultHTML5 += `<img src="/ELEMENTOS/cc.jpg" class="img-cc">`;
                }

                if (fecha) {
                    resultHTML7 += `<p><strong>3. Fecha:</strong> <br><br> Guatemala, ${fecha[1].trim()}.</p>`;
                    resultHTML6 += `<img src="/ELEMENTOS/cc.jpg" class="img-cc">`;
                } else {
                    resultHTML7 += `<p><strong>3. Fecha:</strong> No encontrada</p>`;
                    resultHTML6 += `<img src="/ELEMENTOS/cc.jpg" class="img-cc">`;
                }

                if (actoReclamado) {
                    resultHTML8 += `<p><strong>4. Acto Reclamado:</strong> <br><br> ${actoReclamado[1].trim()}</p>`;
                    resultHTML9 += `<img src="/ELEMENTOS/cc.jpg" class="img-cc">`;
                } else {
                    resultHTML8 += `<p><strong>4. Acto Reclamado:</strong> No encontrado</p>`;
                    resultHTML9 += `<img src="/ELEMENTOS/cc.jpg" class="img-cc">`;
                }

                if (considerando1) {
                    resultHTML11 += `<p><strong>5. Considerando I:</strong> <br><br>  ${considerando1[1].trim()}.</p>`;
                    resultHTML10 += `<img src="/ELEMENTOS/cc.jpg" class="img-cc">`;
                } else {
                    resultHTML11 += `<p><strong>5. Considerando I:</strong> No encontrado</p>`;
                    resultHTML10 += `<img src="/ELEMENTOS/cc.jpg" class="img-cc">`;
                }
                
                if (considerando2) {
                    resultHTML12 += `<p><strong>6. Considerando II:</strong> <br><br> ${considerando2[1].trim()}.</p>`;
                    resultHTML13 += `<img src="/ELEMENTOS/cc.jpg" class="img-cc">`;
                } else {
                    resultHTML12 += `<p><strong>6. Considerando II:</strong> No encontrado</p>`;
                    resultHTML13 += `<img src="/ELEMENTOS/cc.jpg" class="img-cc">`;
                }
                
                if (considerando3) {
                    resultHTML15 += `<p><strong>7. Considerando III:</strong> <br><br> ${considerando3[1].trim()}.</p>`;
                    resultHTML14 += `<img src="/ELEMENTOS/cc.jpg" class="img-cc">`;
                } else {
                    resultHTML15 += `<p><strong>7. Considerando III:</strong> No encontrado</p>`;
                    resultHTML14 += `<img src="/ELEMENTOS/cc.jpg" class="img-cc">`;
                }

                if (leyes) {
                    resultHTML16 += `<p><strong>8. Leyes Aplicables:</strong> <br><br> ${leyes[1].trim()}</p>`;
                    resultHTML17 += `<img src="/ELEMENTOS/cc.jpg" class="img-cc">`;
                } else {
                    resultHTML16 += `<p><strong>8. Leyes Aplicables:</strong> No encontrado</p>`;
                    resultHTML17 += `<img src="/ELEMENTOS/cc.jpg" class="img-cc">`;
                }

                if (porTanto) {
                    resultHTML19 += `<p><strong>9. Resolución:</strong> <br><br> ${porTanto[1].trim()}</p>`;
                    resultHTML18 += `<img src="/ELEMENTOS/cc.jpg" class="img-cc">`;
                } else {
                    resultHTML19 += `<p><strong>9. Resolución:</strong> No encontrado</p>`;
                    resultHTML18 += `<img src="/ELEMENTOS/cc.jpg" class="img-cc">`;
                }

                

                document.getElementById('result1').innerHTML = resultHTML1;
                document.getElementById('result2').innerHTML = resultHTML2;
                document.getElementById('result3').innerHTML = resultHTML3;
                document.getElementById('result4').innerHTML = resultHTML4;
                document.getElementById('result5').innerHTML = resultHTML5;
                document.getElementById('result6').innerHTML = resultHTML6;
                document.getElementById('result7').innerHTML = resultHTML7;
                document.getElementById('result8').innerHTML = resultHTML8;
                document.getElementById('result9').innerHTML = resultHTML9;
                document.getElementById('result10').innerHTML = resultHTML10;
                document.getElementById('result11').innerHTML = resultHTML11;
                document.getElementById('result12').innerHTML = resultHTML12;
                document.getElementById('result13').innerHTML = resultHTML13;
                document.getElementById('result14').innerHTML = resultHTML14;
                document.getElementById('result15').innerHTML = resultHTML15;
                document.getElementById('result16').innerHTML = resultHTML16;
                document.getElementById('result17').innerHTML = resultHTML17;
                document.getElementById('result18').innerHTML = resultHTML18;
                document.getElementById('result19').innerHTML = resultHTML19;
            }).catch(function(error) {
                console.error('Error al analizar el archivo:', error);
                document.getElementById('result1').innerHTML = '<h4>Error al analizar el archivo</h4>';
                document.getElementById('result2').innerHTML = '';
                document.getElementById('result3').innerHTML = '';
                document.getElementById('result4').innerHTML = '';
                document.getElementById('result5').innerHTML = '';
                document.getElementById('result6').innerHTML = '';
                document.getElementById('result7').innerHTML = '';
                document.getElementById('result8').innerHTML = '';
                document.getElementById('result9').innerHTML = '';
                document.getElementById('result10').innerHTML = '';
                document.getElementById('result11').innerHTML = '';
                document.getElementById('result12').innerHTML = '';
                document.getElementById('result13').innerHTML = '';
                document.getElementById('result14').innerHTML = '';
                document.getElementById('result15').innerHTML = '';
                document.getElementById('result16').innerHTML = '';
                document.getElementById('result17').innerHTML = '';
                document.getElementById('result18').innerHTML = '';
                document.getElementById('result19').innerHTML = '';
            });
        };

        reader.readAsArrayBuffer(file);
    }
</script>
{% endblock %}

