---
permalink: contacto/index.html
---
{% extends "src/base.njk" %}

{% block head %}
<title>Justicia Abierta | Contacto</title>
<link rel="stylesheet" href="/css/main.css" type="text/css" />
{% endblock %}

{% block content %}

    <!--SLIDER-->  
    <div class="w-100" style="background-color: #016be3">
      <div class="container py-5" style="padding-bottom: 0.2rem!important;">
        <div class="row mx-auto" style="justify-content:center;display: block!important;margin: 2rem 0;">
          <div class="img-circular">
            <img  src="/ELEMENTOS/NUEVOS ELEMENTOS/JA-04.png">  
          </div>
          <h1 style="color: #fff!important;text-align: center;">Contáctanos</h1>
        </div>
      </div>
    </div>  
     
    <!--Cuerpo-->
    <div class="w-100 bg-white" style="margin: 5rem 0">
      <div class="container"> 
        <div class="row mx-auto">
          
          <div class="col-xl-6" style="text-align:center">

            <i class="fas fa-map-marker-alt" style="font-size:100px; margin-bottom:10px"></i>
            <h4>Dirección</h4>
            <h6>Vía 4 1-00 Zona 4, 01004</h6>
            <h6>Ciudad de Guatemala, Guatemala</h6>

          </div>
          
          <div class="col-xl-6" style="text-align:center">

            <i class="far fa-envelope" style="font-size:100px; margin-bottom:10px"></i>
            <h4>Correo</h4>
            <h6>justicia@redciudadana.org.gt</h6>
            <h6>www.redciudadana.org</h6>

          </div>
        

        </div>

        <!--Iframe del Form-->
        <div class="row mx-auto">
          
          

        </div>
      </div>
    </div>

{% endblock %}