---
permalink: criterios-derecho-laboral/index.html
---
{% extends "src/base.njk" %}

{% block head %}
<title>Justicia Abierta | Encuentro</title>
<link rel="stylesheet" href="/css/main.css" type="text/css" />
{% endblock %}

{% block content %}


    <div class="section m-0 py-6" style="background-image:url('/ELEMENTOS/ELEMENTOS MEJORAS_JA/SLIDER/JA-18.png');background-repeat: no-repeat;background-size: 100% 100%;">
        <div class="container my-6">
            <div class="row my-6 py-6">
                <div class="col-lg-12 my-6">

                    <div class="my-6 py-6" style="text-align:center">
                        <img style="padding:25px" src="/ELEMENTOS/ELEMENTOS MEJORAS_JA/ICONOS/e.png">
                        <h3 class="text-white" style="font-size:35px">Congreso Interinstitucional de Derecho Laboral 2024</h3>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="section p-0">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-12 text-center">
                    <h5>Búsqueda de Expediente</h5> 
                    <form action="#">
                        <input type="text" id="fname" name="fname"><br><br>
                        <input type="submit" value="Buscar Criterios">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Expedientes -->
    <div class="section m-0" style="background-color: #f1f5fd">
        <div class="container py-4">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <h4>Expedientes por Criterios y Jurisprudencia</h4>
                    <br><br>
                    <table>
                        <tr>
                            <th>No. de Expediente</th>
                            <th>Criterios y Jurisprudencia</th>
                            <th>PDF</th>
                            <th>CSV</th>
                        </tr>
                        <tr>
                            <td>1234-5678</td>
                            <td>Laboral y Procesal Laboral</td>
                            <td><a href="#" class="btn btn-red">Descarga el pdf</a></td>
                            <td><a href="#" class="btn">Descarga el csv</a></td>
                        </tr>
                        <tr>
                            <td>1234-5678</td>
                            <td>Laboral y Procesal Laboral</td>
                            <td><a href="#" class="btn btn-red">Descarga el pdf</a></td>
                            <td><a href="#" class="btn">Descarga el csv</a></td>
                        </tr>
                        <tr>
                            <td>1234-5678</td>
                            <td>Laboral y Procesal Laboral</td>
                            <td><a href="#" class="btn btn-red">Descarga el pdf</a></td>
                            <td><a href="#" class="btn">Descarga el csv</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- videos -->
    <div class="section m-0" style="background-color: #f1f5fd">
        <div class="container py-6">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/gU6sa65YEeM?si=KPMuCA08J7CfOZde" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="col-lg-6">
                    <p>Transcripción del Congreso Interinstitucional de Derecho Laboral 2024</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
