---
permalink: Congreso-Derecho-Laboral-2024/index.html
---
{% extends "src/base2.njk" %}

{% block head %}
<title>Justicia Abierta | Encuentro</title>
<link rel="stylesheet" href="/css/main.css" type="text/css" />
{% endblock %}

{% block content %}


    <div class="section m-0 py-6" style="background-image:url('/ELEMENTOS/ELEMENTOS MEJORAS_JA/SLIDER/JA-18.png');background-repeat: no-repeat;background-size: 100% 100%;">
        <div class="container">
            <div class="row my-6">
                <div class="col-lg-12">

                    <div class="my-4" style="text-align:center">
                        <!-- <img style="padding:25px" src="/ELEMENTOS/logoderecho.png"> -->
                        <h3 class="text-white" style="font-size:35px">Congreso de Derecho Laboral 2024</h3>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="section p-0">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-12 text-center">
                    <h5>Búsqueda de Expediente</h5> 
                    
                    <form id="searchForm">
                        <input type="text" id="fname" name="fname" placeholder="Buscar expedientes..."><br><br>
                        <input type="submit" value="Buscar por Expediente">
                    </form>
                      
                </div>
            </div>
        </div>
    </div>

    <!-- Expedientes -->
    <div class="section m-0" style="background-color: #f1f5fd">
        <div class="container py-4">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <h4>Expedientes por Criterios y Jurisprudencia</h4>
                    <br><br>
                    <div class="table-container">
                        <div class="table-header">
                            <div class="table-cell" style="flex:0.5"><img src="/ELEMENTOS/criterios/JA.png" >Institución</div>
                            <div class="table-cell"><img src="/ELEMENTOS/criterios/JA-31.png">No. de Expediente</div>
                            <div class="table-cell"><img src="/ELEMENTOS/criterios/JA-32.png">Criterios y Jurisprudencia</div>
                            <div class="table-cell justify-content-center">PDF</div>
                            <div class="table-cell justify-content-center">WORD</div>
                        </div>
                        <div class="table-body">
                            {% for expediente in expedientes %}
                            <div class="table-row" id="row-{{ expediente.no_expediente }}">
                                <div class="table-cell justify-content-center" style="flex:0.5">
                                    <img style="height:50px" src="/ELEMENTOS/logocongreso.png" alt="Logo Congreso"/>
                                </div>
                                <div class="table-cell no-expediente">{{ expediente.no_expediente }}</div>
                                <div class="table-cell criterios">{{ expediente.criterios_reiterados }}</div>
                                <div class="table-cell" style="display:block;text-align:center">
                                    <a target="_blank" href="{{ expediente.pdf }}" class="btn2 btn-blue">Descarga (PDF) <i class="fa-solid fa-arrow-down"></i></a>
                                </div>
                                <div class="table-cell" style="display:block;text-align:center">
                                    <a target="_blank" href="{{ expediente.word }}" class="btn2">Descarga (WORD) <i class="fa-solid fa-arrow-down"></i></a>
                                </div>
                            </div>  
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- videos -->
    <div class="section m-0" style="background-color: #fff">
        <div class="container py-6">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <a href=""><div class="cuadro_final my-4">
                        <img src="/ELEMENTOS/criterios/JA-29.png">
                        <h4 class="mb-2">Videos del Congreso Interinstitucional de Derecho Laboral 2024</h4>
                    </div></a>
                </div>
                <div class="col-lg-6">
                    <a href=""><div class="cuadro_final my-4">
                        <img src="/ELEMENTOS/criterios/JA-33.png">
                        <h4 class="mb-2">Transcripción del Congreso Interinstitucional de Derecho Laboral 2024</h4>
                    </div></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_javascripts %}
<script>
    document.getElementById('searchForm').addEventListener('submit', function(event) {
      event.preventDefault(); // Evita que el formulario se envíe y la página se recargue
      filterTable();
    });
    
    function filterTable() {
      // Obtener el valor del campo de búsqueda
      var input = document.getElementById("fname");
      var filter = input.value.toLowerCase();
      var rows = document.querySelectorAll(".table-row");
      
      // Recorrer todas las filas de la tabla y ocultar aquellas que no coinciden
      rows.forEach(row => {
        // Obtener el texto de los elementos relevantes para la búsqueda
        var noExpediente = row.querySelector(".no-expediente").textContent.toLowerCase();
        var criterios = row.querySelector(".criterios").textContent.toLowerCase();
        
        // Comprobar si el texto de la fila contiene el texto de búsqueda
        if (noExpediente.includes(filter) || criterios.includes(filter)) {
          row.style.display = ""; // Mostrar fila
        } else {
          row.style.display = "none"; // Ocultar fila
        }
      });
    }
</script>    
    
{% endblock %}