---
permalink: Congreso-Derecho-Laboral-2024/index.html
---
{% extends "src/base2.njk" %}

{% block head %}
<title>Justicia Abierta | Encuentro</title>
<link rel="stylesheet" href="/css/main.css" type="text/css" />
{% endblock %}

{% block content %}


    <div class="section m-0 py-6" style="background-image:url('/ELEMENTOS/ELEMENTOS MEJORAS_JA/SLIDER/JA-18.png');background-repeat: no-repeat;background-size: 100% 100%;">
        <div class="container">
            <div class="row my-6">
                <div class="col-lg-12">

                    <div class="my-4" style="text-align:center">
                        <!-- <img style="padding:25px" src="/ELEMENTOS/logoderecho.png"> -->
                        <h3 class="text-white" style="font-size:35px">Congreso de Derecho Laboral 2024</h3>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="section p-0">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-12 text-center">
                    <h5>Explora expedientes emblemáticos en la Jurisprudencia del Derecho Laboral</h5>
                    <h5>Contamos con  expedientes</h5> 
                    
                    <form id="searchForm">
                        <div class="row">
                            <div class="col-lg-6 my-2">
                                <select id="tema">
                                    <option value="">Todos los Temas</option>
                                    {% for expediente in expedientes | unique('tema') %}
                                    <option value="{{ expediente.tema }}">{{ expediente.tema }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-lg-6 my-2">
                                <select id="criterios">
                                    <option value="">Todos los Criterios</option>
                                    <!-- Este select se actualizará dinámicamente -->
                                </select>
                            </div>
                            <div class="col-lg-12 my-2">
                                <select id="institucion">
                                    <option value="">Todas las Instituciones</option>
                                    {% for expediente in expedientes | unique('institucion') %}
                                    <option value="{{ expediente.institucion }}">{{ expediente.institucion }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-lg-8 my-2">
                                <input type="text" id="fname" name="fname" placeholder="Buscar por número de expediente...">
                            </div>
                            <div class="col-lg-4 my-2">
                                <input type="submit" value="Buscar">
                            </div>

                            <div class="col-lg-4 my-2">
                                <button type="button" id="resetFilters">Limpiar Filtros</button>
                            </div>
                        </div>           
                        
                    </form>               
                </div>
            </div>
        </div>
    </div>

    <!-- Expedientes -->
    <div class="section m-0" style="background-color: #f1f5fd">
        <div class="container py-4">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <h4>Expedientes por Criterios y Jurisprudencia</h4>
                    <br><br>
                    <div class="table-container">
                        <div class="table-header">
                            <div class="table-cell" style="flex:1"><img src="/ELEMENTOS/criterios/JA.png" >Institución</div>
                            <div class="table-cell"><img src="/ELEMENTOS/criterios/JA-32.png">Tema</div>
                            <div class="table-cell"><img src="/ELEMENTOS/criterios/JA-32.png">Criterios y Jurisprudencia</div>
                            <div class="table-cell"><img src="/ELEMENTOS/criterios/JA-31.png">No. de Expediente</div>
                            <div class="table-cell justify-content-center">PDF</div>
                            
                        </div>
                        <div class="table-body">
                            {% for expediente in expedientes %}
                            <div class="table-row" id="row-{{ expediente.no_expediente }}">
                                <div class="table-cell justify-content-center" style="flex:1">
                                    {% if expediente.tema == "6. Jurisprudencia de la Corte Interamericana" %}
                                    <img style="height:50px; margin-right: 5px;" src="/ELEMENTOS/logointer.png" alt="Logo Congreso"/>
                                    {% else %}
                                    <img style="height:50px; margin-right: 5px;" src="/ELEMENTOS/logocongreso.png" alt="Logo Congreso"/>
                                    {% endif %}
                                    {{ expediente.institucion }}
                                </div>
                                <div class="table-cell criterios">{{ expediente.tema }}</div>
                                <div class="table-cell criterios">{{ expediente.criterios }}</div>
                                <div class="table-cell no-expediente">{{ expediente.no_expediente }}</div>
                                <div class="table-cell" style="display:block;text-align:center">
                                    <a target="_blank" href="{{ expediente.pdf }}" class="btn2 btn-blue">Descarga (PDF) <i class="fa-solid fa-arrow-down"></i></a>
                                </div>
                            
                            </div>  
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- videos -->
    <div class="section m-0" style="background-color: #fff">
        <div class="container py-6">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <a href=""><div class="cuadro_final my-4">
                        <img src="/ELEMENTOS/criterios/JA-29.png">
                        <h4 class="mb-2">Videos del Congreso Interinstitucional de Derecho Laboral 2024</h4>
                    </div></a>
                </div>
                <div class="col-lg-6">
                    <a href=""><div class="cuadro_final my-4">
                        <img src="/ELEMENTOS/criterios/JA-33.png">
                        <h4 class="mb-2">Transcripción del Congreso Interinstitucional de Derecho Laboral 2024</h4>
                    </div></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_javascripts %}
<script>
    document.getElementById('searchForm').addEventListener('submit', function(event) {
        event.preventDefault();
        filterTable();
    });

    document.getElementById('resetFilters').addEventListener('click', function() {
        document.getElementById('institucion').value = "";
        document.getElementById('tema').value = "";
        document.getElementById('criterios').value = "";
        document.getElementById('fname').value = "";
        filterTable();
    });

    // Actualizar los criterios cuando se seleccione un tema
    document.getElementById('tema').addEventListener('change', function() {
        var selectedTema = this.value.toLowerCase();
        var criteriosSelect = document.getElementById('criterios');
        criteriosSelect.innerHTML = '<option value="">Todos los Criterios</option>';

        var uniqueCriterios = new Set();
        var rows = document.querySelectorAll(".table-row");

        rows.forEach(row => {
            var tema = row.querySelector(".criterios").textContent.toLowerCase();
            if (tema.includes(selectedTema)) {
                var criterio = row.querySelectorAll(".criterios")[1].textContent;
                uniqueCriterios.add(criterio);
            }
        });

        uniqueCriterios.forEach(criterio => {
            var option = document.createElement("option");
            option.value = criterio;
            option.textContent = criterio;
            criteriosSelect.appendChild(option);
        });
    });

    function filterTable() {
        var institucionFilter = document.getElementById("institucion").value.toLowerCase();
        var temaFilter = document.getElementById("tema").value.toLowerCase();
        var criteriosFilter = document.getElementById("criterios").value.toLowerCase();
        var expedienteFilter = document.getElementById("fname").value.toLowerCase();

        var rows = document.querySelectorAll(".table-row");

        rows.forEach(row => {
            var institucion = row.querySelector(".table-cell:first-child").textContent.toLowerCase();
            var tema = row.querySelector(".criterios").textContent.toLowerCase();
            var criterios = row.querySelectorAll(".criterios")[1].textContent.toLowerCase();
            var expediente = row.querySelector(".no-expediente").textContent.toLowerCase();

            var matchesInstitucion = institucion.includes(institucionFilter) || !institucionFilter;
            var matchesTema = tema.includes(temaFilter) || !temaFilter;
            var matchesCriterios = criterios.includes(criteriosFilter) || !criteriosFilter;
            var matchesExpediente = expediente.includes(expedienteFilter) || !expedienteFilter;

            if (matchesInstitucion && matchesTema && matchesCriterios && matchesExpediente) {
                row.style.display = "";
            } else {
                row.style.display = "none";
            }
        });
}


</script>    
    
{% endblock %}