---
permalink: "eventosinnovacion/index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Justicia Abierta | Índice</title>
<link rel="stylesheet" href="/css/main.css" type="text/css" />
{% endblock %}

{% block content %}

    <!--SLIDER-->  
    <div class="w-100 py-6 slider-indice">
        <div class="container py-5 my-6" >
            <div class="row mx-auto justify-content-center py-6">
                <h1 class="text-white py-6">Eventos de Innovación – Sector Justicia</h1>
            </div>
        </div>
    </div>  


    <!--CONTENIDO-->

     <!-- que es de un evento de innovacion-->
    <div class="section m-0">
        <div class="container py-6">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-7">

                    <div>
                        <h3 class="text-center">Eventos de Innovación – Sector Justicia</h3>
                        <p style="font-size:18px;line-height:22px;text-align:justify">
                            ¡Llega una nueva serie de emocionantes eventos de innovación! Invitamos a todos los interesados a formar parte de este increíble viaje para generar soluciones transformadoras en diversas áreas.
                        </p>
                        <p style="font-size:18px;line-height:22px;text-align:justify">
                            Los eventos están abiertos a todos, sin importar el nivel de experiencia o conocimiento. ¡Solo necesitamos tu pasión, creatividad y compromiso para hacer del mundo un lugar mejor!
                        </p>
                    </div>

                </div>

                <!--div class="col-lg-6">

                    <div style="text-align:center">
                        <img src="/ELEMENTOS/08_GRAFICAS/JA_GRAFICA.png">
                    </div>

                </div-->
            </div>
        </div>
    </div>

    <!-- Eventos-->
    <div class="section m-0" style="background-color:#f1f5fd">
        <div class="container py-6">
            <div class="row align-items-center justify-content-center">
            
                <div class="col-lg-7">

                    <div>
                        <h3 class="text-center">Eventos</h3>
                        <p style="font-size:18px;line-height:22px; list">
                            <b>1. Maratón de Soluciones – Datos y Género</b><br><br>

                            En este evento de 48 horas, los participantes utilizarán datos abiertos 
                            para abordar los problemas relacionados con el género. Equipos 
                            interdisciplinarios de programadores, científicos de datos, sociólogos
                             y expertos en género trabajarán juntos para encontrar soluciones 
                             innovadoras. ¡Es tu momento de hacer una diferencia real!

                            <br><br><b>Ejemplos de posibles soluciones:</b><br><br>

                            Aplicaciones de mapeo de delitos de género utilizando datos abiertos, 
                            visualizaciones de datos para exponer la brecha de género en diferentes
                             sectores, algoritmos para identificar y reducir el sesgo de género en los datos.
                        </p>
                        <br>
                        <p style="font-size:18px;line-height:22px; list">
                            <b>2. Maratón de Soluciones – Mejora de Servicios Públicos</b><br><br>

                            En este evento, los participantes trabajarán durante 48 horas para desarrollar soluciones destinadas a mejorar los servicios públicos. Se invitará a desarrolladores, diseñadores, analistas de sistemas, funcionarios públicos y ciudadanos interesados.

                            <br><br><b>Ejemplos de posibles soluciones:</b><br><br>

                            Aplicaciones para informar y solucionar problemas de infraestructura pública, sistemas para digitalizar y acelerar trámites burocráticos, plataformas para facilitar la comunicación entre el gobierno y los ciudadanos.
                        </p>
                        <br>
                        <p style="font-size:18px;line-height:22px; list">
                            <b>3. Comunicathon – Lenguaje Claro</b><br><br>

                            Este evento centrado en la comunicación busca generar soluciones que faciliten la comprensión de la información a través del lenguaje claro. Durante 48 horas, comunicadores, periodistas, educadores y lingüistas se reunirán para crear herramientas y estrategias que promuevan un lenguaje más accesible. Si te apasiona la comunicación y deseas contribuir a hacerla más inclusiva, ¡este es tu evento!

                            <br><br><b>Ejemplos de posibles soluciones:</b><br><br>

                            Herramientas de edición para simplificar textos complejos, infografías, campañas de comunicación, aplicaciones que traducen jerga técnica o legal a un lenguaje más coloquial, guías y talleres de lenguaje claro.
                        </p>
                        <br>
                        <p style="font-size:18px;line-height:22px; list">
                            <b>4. Ideathon - Mejora de Servicios Públicos</b><br><br>

                            Este Ideathon es un evento especializado que desafía a los participantes a generar ideas creativas y viables para mejorar los servicios públicos en el sector de la justicia. Abogados, profesionales de la justicia, estudiantes de derecho, tecnólogos, diseñadores de servicios y ciudadanos se unen en equipos para producir propuestas que puedan impulsar la eficiencia, transparencia y accesibilidad en el sector de la justicia.  Si tienes ideas que pueden hacer que el sistema de justicia sea más eficiente y transparente, queremos escucharte.

                            <br><br><b>Ejemplos de posibles soluciones:</b><br><br>

                            Ideas para plataformas digitales que permitan a los ciudadanos realizar trámites judiciales en línea, propuestas para el uso de la IA en la optimización de la programación de audiencias judiciales, conceptos para aplicaciones que proporcionen información clara y comprensible sobre los procesos legales, propuestas para el uso de tecnología blockchain para mejorar la transparencia y seguridad en la documentación legal.
                        </p>
                    </div>

                </div>

                <!--div class="col-lg-6">

                    <div style="text-align:center">
                        <img src="/ELEMENTOS/08_GRAFICAS/JA_GRAFICA.png">
                    </div>

                </div-->
                
            </div>
        </div>
    </div>


     <!-- reglas-->
    <div class="section m-0">
        <div class="container py-6">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-7">

                    <div style="text-align:justify">
                        <h3 class="text-center">Reglas y condiciones básicas</h3>
                        <p style="font-size:18px;line-height:22px">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                        </p>
                    </div>

                </div>

                <!--div class="col-lg-6">

                    <div style="text-align:center">
                        <img src="/ELEMENTOS/08_GRAFICAS/JA_GRAFICA.png">
                    </div>

                </div-->
            </div>
        </div>
    </div>

    <!-- premios-->
    <div class="section m-0" style="background-color:#f1f5fd">
        <div class="container py-6">
            <div class="row align-items-center justify-content-center">
            
                <div class="col-lg-7">

                    <div style="text-align:justify">
                        <h3 class="text-center">Premios</h3>
                        <p style="font-size:18px;line-height:22px">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                        </p>
                    </div>

                </div>

                <!--div class="col-lg-6">

                    <div style="text-align:center">
                        <img src="/ELEMENTOS/08_GRAFICAS/JA_GRAFICA.png">
                    </div>

                </div-->
                
            </div>
        </div>
    </div>

     <!-- registr-->
    <div class="section m-0">
        <div class="container py-6">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-7">

                    <div style="text-align:justify">
                        <h3 class="text-center">Regístrate</h3>
                        <iframe height="800" src="https://us06web.zoom.us/meeting/register/tZcvd-GrrjouG9QVWu144VSaEI3NRRSuolZO" title="Registrate"></iframe>
                    </div>

                </div>

                <!--div class="col-lg-6">

                    <div style="text-align:center">
                        <img src="/ELEMENTOS/08_GRAFICAS/JA_GRAFICA.png">
                    </div>

                </div-->
            </div>
        </div>
    </div>



{% endblock %}
