---
permalink: "eventosinnovacion/index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Justicia Abierta | Índice</title>
<link rel="stylesheet" href="/css/main.css" type="text/css" />
{% endblock %}

{% block content %}

    <!--SLIDER-->  
    <div class="w-100 py-6 slider-indice">
        <div class="container py-5 my-6" >
            <div class="row mx-auto justify-content-center py-6">
                <h1 class="text-white py-6">Índice de Justicia Abierta (IJA)</h1>
            </div>
        </div>
    </div>  


    <!--CONTENIDO-->

     <!-- que es de un evento de innovacion-->
    <div class="section m-0">
        <div class="container py-6">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-8">

                    <div style="text-align:justify">
                        <h3>¿Qué es un evento de Innovación?</h3>
                        <p style="font-size:18px;line-height:22px">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                        </p>
                    </div>

                </div>

                <!--div class="col-lg-6">

                    <div style="text-align:center">
                        <img src="/ELEMENTOS/08_GRAFICAS/JA_GRAFICA.png">
                    </div>

                </div-->
            </div>
        </div>
    </div>

    <!-- Eventos-->
    <div class="section m-0" style="background-color:#f1f5fd">
        <div class="container py-6">
            <div class="row align-items-center justify-content-center">
            
                <div class="col-lg-8">

                    <div style="text-align:justify">
                        <h3>Eventos</h3>
                        <ol style="font-size:18px;line-height:22px; list">
                            <li>1. Maratón de Soluciones – Datos y Genero</li>
                            <li>2. Maratón de Soluciones – Mejora de servicios públicos</li>
                            <li>3. Comunicathon – Lenguaje Claro</li>
                            <li>4. Ideathon - Mejora de servicios públicos</li>
                        </ol>
                    </div>

                </div>

                <!--div class="col-lg-6">

                    <div style="text-align:center">
                        <img src="/ELEMENTOS/08_GRAFICAS/JA_GRAFICA.png">
                    </div>

                </div-->
                
            </div>
        </div>
    </div>


     <!-- ejemplos-->
    <div class="section m-0">
        <div class="container py-6">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-8">

                    <div style="text-align:justify">
                        <h3>Ejemplos de prototipos</h3>
                        <p style="font-size:18px;line-height:22px">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                        </p>
                    </div>

                </div>

                <!--div class="col-lg-6">

                    <div style="text-align:center">
                        <img src="/ELEMENTOS/08_GRAFICAS/JA_GRAFICA.png">
                    </div>

                </div-->
            </div>
        </div>
    </div>

    <!-- reglas-->
    <div class="section m-0" style="background-color:#f1f5fd">
        <div class="container py-6">
            <div class="row align-items-center justify-content-center">
            
                <div class="col-lg-8">

                    <div style="text-align:justify">
                        <h3>Reglas y condiciones básicas</h3>
                        <p style="font-size:18px;line-height:22px">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                        </p>
                    </div>

                </div>

                <!--div class="col-lg-6">

                    <div style="text-align:center">
                        <img src="/ELEMENTOS/08_GRAFICAS/JA_GRAFICA.png">
                    </div>

                </div-->
                
            </div>
        </div>
    </div>

     <!-- ejemplos-->
    <div class="section m-0">
        <div class="container py-6">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-8">

                    <div style="text-align:justify">
                        <h3>Premios</h3>
                        <p style="font-size:18px;line-height:22px">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                        </p>
                    </div>

                </div>

                <!--div class="col-lg-6">

                    <div style="text-align:center">
                        <img src="/ELEMENTOS/08_GRAFICAS/JA_GRAFICA.png">
                    </div>

                </div-->
            </div>
        </div>
    </div>

    <!-- reglas-->
    <div class="section m-0" style="background-color:#f1f5fd">
        <div class="container py-6">
            <div class="row align-items-center justify-content-center">
            
                <div class="col-lg-8">

                    <div style="text-align:justify">
                        <h3>Regístrate</h3>
                        <iframe height="800" src="https://us06web.zoom.us/meeting/register/tZcvd-GrrjouG9QVWu144VSaEI3NRRSuolZO" title="Registrate"></iframe>
                    </div>

                </div>

                <!--div class="col-lg-6">

                    <div style="text-align:center">
                        <img src="/ELEMENTOS/08_GRAFICAS/JA_GRAFICA.png">
                    </div>

                </div-->
                
            </div>
        </div>
    </div>


{% endblock %}
