---
permalink: "index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Justicia Abierta | Red Ciudadana</title>
<link rel="stylesheet" href="/css/main.css" type="text/css" />
{% endblock %}

{% block content %}

    <!-- slider-start -->
    <div class="video-container w-100">
        <video muted autoplay loop>
            <source src="/ELEMENTOS/SLIDER-RED-JA.mp4" type="video/mp4; "/>        
        </video>
        <div class="caption">
            <!--h1 class="txt-white">¡La Ciudadanía Propone!</h1-->
            <h1 class="txt-white " >Una justicia cercana a la comunidad, moderna, transparente e independiente</h1>
            <br>
            <a class="ver_todo" href="#">Más Información</a>
        </div>
    </div>


    <!--CONTENIDO-->

     <!-- que es de Justicia Abierta-->
    <div class="section m-0">
        <div class="container py-6">
            <div class="row align-items-center">
                <div class="col-lg-6">

                    <div style="text-align:justify">
                        <h3>¿Qué es Justicia Abierta?</h3>
                        <p style="font-size:18px;line-height:22px">
                            La Justicia Abierta pretende por medio de la innovación del sistema de 
                            justicia y los servicios que presta, resolver los problemas del ámbito 
                            de la justicia o situaciones de extrema injusticia en las que se encuentran 
                            miembros de la sociedad. 
                        </p>
                    </div>

                </div>

                <div class="col-lg-6">

                    <div style="text-align:center">
                        <iframe width="100%" height="330px" src="https://www.youtube.com/embed/jJHiFi5qKSo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--CONTENIDO-->
    <!-- ¿Qué es Justicia Abierta?>
    <div class="section " style="padding-top:65px!important; background-color: #e9ecf2;margin: 0!important;">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">

                    <div style="text-align: center;">
                        <h3 style="font-weight:600">¿Qué es Justicia Abierta?</h3>
                    </div>
                        <p  style="margin: 0 15% 0 15%; text-align:center " class="margin-bottom-15">Guatemala justa, pacífica e inclusiva se propone ser una "hoja de ruta" en materia
                        de políticas publicas para el sector justicia (entendiendo por tal a todas las instituciones
                        involucradas tanto a nivel federal como provincial).</p>

                    <div class="margin-bottom-15" style="margin-top:65px">
                        <div class="row">
                            <div class="col-xl-4" style="display:inline-block; text-align: center; justify-content:center;">
                                <img src="ELEMENTOS/ELEMENTOS WEB/03_ICONOS/ICONOS-25.png" style="max-height:50%">
                                <h4 style="margin: 0 15% 0 15%; text-align:center;font-weight:600" class="mt-20 mb-20">Transparencia</h4>
                                <p style="text-align:center">Lorem Ipsum dolor sit ammet,Lorem Ipsum dolor sit ammet,Lorem Ipsum dolor sit ammet</p>
                            </div>
                            <div class="col-xl-4" style="display:inline-block; text-align: center; justify-content:center;">
                                <img src="ELEMENTOS/ELEMENTOS WEB/03_ICONOS/ICONOS-26.png" style="max-height:50%">
                                <h4 style="margin: 0 15% 0 15%; text-align:center;font-weight:600" class="mt-20 mb-20">Colaboración</h4>
                                <p style="text-align:center">Lorem Ipsum dolor sit ammet,Lorem Ipsum dolor sit ammet,Lorem Ipsum dolor sit ammet</p>
                            </div>
                            <div class="col-xl-4" style="display:inline-block; text-align: center; justify-content:center;">
                                <img src="ELEMENTOS/ELEMENTOS WEB/03_ICONOS/ICONOS-27.png" style="max-height:50%">
                                <h4 style="margin: 0 15% 0 15%; text-align:center;font-weight:600" class="mt-20 mb-20">Participación</h4>
                                <p style="text-align:center">Lorem Ipsum dolor sit ammet,Lorem Ipsum dolor sit ammet,Lorem Ipsum dolor sit ammet</p>
                            </div>
                        </div>
                    </div>

                    

                </div>
            </div>
        </div>
    </div-->

    <!-- Ciclo de Justicia Abierta-->
    <div class="section my-6">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">

                    <div style="text-align:center">
                        <h3 style="font-weight:600">Ecosistema de justicia abierta</h3>
                    </div>

                    <div class="centered margin-bottom-15" style="margin-left:10%;margin-right:10%">
                        <img style="max-width:100%" src="ELEMENTOS/ELEMENTOS WEB/00_EDITABLE WEB/DIAGRAMA-10.png">
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="w-100" style="background-color: #016be3">
        <div class="container py-5" style="padding-bottom: 0.2rem!important;">
            <div class="row mx-auto" style="justify-content:center;display: block!important;">

                <div class="margin-bottom-15" >
                    <div class="row" style="justify-content: center">
                        <div class="col-xl-4" >

                            <div style="display:inline-block; text-align: center; justify-content:center; margin: 2rem 0 3rem 0;">
                                <p class="text-white" style="border:0.5px #fff solid;border-radius:50px">Proceso de formación de:</p>
                                <h1 class="text-white" style="font-weight:600">Justicia Abierta+</h1>
                                <h4 class="text-white">Convocatoria Abierta</h4>
                                <br>
                                <a href="cursos.html" class="btnVerde" style="margin:3rem">Inscríbete <i class="icon-material-outline-arrow-right-alt"></i></a>
                            </div>

                        </div>
                    </div>
                </div>  

            </div>
        </div>
    </div>  

    <div class="w-100" style="background-color: #e9ecf2">
        <div class="container py-5" style="padding-bottom: 0.2rem!important;">
            <div class="row">
                <div class="col-12 d-flex mb-2">
                    <h1 style="font-weight:600">
                    Instituciones
                    </h1>
                </div>    
                    
                <div class="col-12 col-lg-3 py-1" style="padding-left: 15px!important; padding-right: 15px!important">
                    <div class="bg-white w-100 border cuadros">
                        <div class="bg-dark w-100 text-center">
                            <img src="https://raw.githubusercontent.com/RedCiudadana/Instituciones-Justiciapedia/gh-pages/1.-Corte-Suprema-de-Justicia-(CSJ).png" class=" img-fluid" alt="Laboratorio">
                        </div>
                        <div class="w-100 p-3 cuadros2">
                            <h4>Corte Suprema de Justicia</h4>
                            <br>
                            <p style="text-align: center;">

                            </p><br>
                            <a href="/institucion1/index.html" class="btnVerde m-auto">MÁS INFO.</a>
                        </div>
                    </div>
                </div>
                
                
                <div class="col-12 col-lg-3 py-1" style="padding-left: 15px!important; padding-right: 15px!important">
                    <div class="bg-white w-100 border cuadros">
                        <div class="bg-dark w-100 text-center">
                            <img src="https://raw.githubusercontent.com/RedCiudadana/Instituciones-Justiciapedia/gh-pages/2.-Corte-de-Apelaciones-(CA).png" class=" img-fluid" alt="Laboratorio">
                        </div>
                        <div class="w-100 p-3 cuadros2">
                            <h4>Corte de Apelaciones (CA)</h4>
                            <br>
                            <p style="text-align: center;">

                            </p><br>
                            <a href="/institucion2/index.html" class="btnVerde  m-auto">MÁS INFO.</a>
                        </div>
                    </div>
                </div>
                
                
                <div class="col-12 col-lg-3 py-1" style="padding-left: 15px!important; padding-right: 15px!important">
                    <div class="bg-white w-100 border cuadros">
                        <div class="bg-dark w-100 text-center">
                            <img src="https://raw.githubusercontent.com/RedCiudadana/Instituciones-Justiciapedia/gh-pages/3.-Juzgados-de-Primera-Instancia.png" class=" img-fluid" alt="Laboratorio">
                        </div>
                        <div class="w-100 p-3 cuadros2">
                            <h4>Juzgados de Primera Instancia</h4>
                            <p style="text-align: center;">

                            </p><br>
                            <a href="/institucion3/index.html" class="btnVerde m-auto" >MÁS INFO.</a>
                        </div>
                    </div>
                </div>
                
                
                <div class="col-12 col-lg-3 py-1" style="padding-left: 15px!important; padding-right: 15px!important">
                    <div class="bg-white w-100 border cuadros">
                        <div class="bg-dark w-100 text-center">
                            <img src="https://raw.githubusercontent.com/RedCiudadana/Instituciones-Justiciapedia/gh-pages/4.-Juzgados-de-Paz-o-Menores.png" class=" img-fluid" alt="Laboratorio">
                        </div>
                        <div class="w-100 p-3 cuadros2">
                            <h4>Juzgados de Paz o Menores</h4>
                            <br>
                            <p style="text-align: center;">

                            </p><br>
                            <a href="/institucion4/index.html" class="btnVerde m-auto" >MÁS INFO.</a>
                        </div>
                    </div>
                </div>
            
            </div>

        </div>

        <div class="container py-5" style="padding-top: 0.8rem!important;padding-bottom: 5rem!important">
            <div class="row">
                
                <div class="col-12 col-lg-3 py-1" style="padding-left: 15px!important; padding-right: 15px!important">
                    <div class="bg-white w-100 border cuadros">
                        <div class="bg-dark w-100 text-center">
                            <img src="https://raw.githubusercontent.com/RedCiudadana/Instituciones-Justiciapedia/gh-pages/1.-Corte-Suprema-de-Justicia-(CSJ).png" class=" img-fluid" alt="Laboratorio">
                        </div>
                        <div class="w-100 p-3 cuadros2">
                            <h4>Consejo de la Carrera Judicial</h4>
                            <p style="text-align: center;">

                            </p><br>
                            <a href="/institucion5/index.html" class="btnVerde m-auto" >MÁS INFO.</a>
                        </div>
                    </div>
                </div>
                
                
                <div class="col-12 col-lg-3 py-1" style="padding-left: 15px!important; padding-right: 15px!important">
                    <div class="bg-white w-100 border cuadros">
                        <div class="bg-dark w-100 text-center">
                            <img src="https://raw.githubusercontent.com/RedCiudadana/Instituciones-Justiciapedia/gh-pages/6.-Corte-de-Constitucionalidad-(CC).png" class=" img-fluid" alt="Laboratorio">
                        </div>
                        <div class="w-100 p-3 cuadros2">
                            <h4>Corte de Constitucionalidad (CC)</h4>
                            <p style="text-align: center;">

                            </p><br>
                            <a href="/institucion6/index.html" class="btnVerde m-auto" >MÁS INFO.</a>
                        </div>
                    </div>
                </div>


                <div class="col-12 col-lg-3 py-1" style="padding-left: 15px!important; padding-right: 15px!important">
                    <div class="bg-white w-100 border cuadros">
                        <div class="bg-dark w-100 text-center">
                            <img src="https://raw.githubusercontent.com/RedCiudadana/Instituciones-Justiciapedia/gh-pages/7.-Ministerio-Publico-(MP).png" class=" img-fluid" alt="Laboratorio">
                        </div>
                        <div class="w-100 p-3 cuadros2">
                            <h4>Ministerio Público (MP)</h4>
                            <br>
                            <p style="text-align: center;">

                            </p><br>
                            <a href="/institucion7/index.html" class="btnVerde m-auto" >MÁS INFO.</a>
                        </div>
                    </div>
                </div>

                
                <div class="col-12 col-lg-3 py-1" style="padding-left: 15px!important; padding-right: 15px!important">
                    <div class="bg-white w-100 border cuadros">
                        <div class="bg-dark w-100 text-center">
                            <img src="https://raw.githubusercontent.com/RedCiudadana/Instituciones-Justiciapedia/gh-pages/8.-Instituto-Nacional-de-Ciencias-Forenses.png" class=" img-fluid" alt="Laboratorio">
                        </div>
                        <div class="w-100 p-3 cuadros2">
                            <h4>Instituto Nacional de Ciencias Forenses</h4>
                            <p style="text-align: center;">

                            </p><br>
                            <a href="/institucion8/index.html" class="btnVerde m-auto" >MÁS INFO.</a>
                        </div>
                    </div>
                </div>
                
                </div>

            </div>

            <div class="container py-5" style="padding-top: 0.8rem!important;padding-bottom: 5rem!important">
                <div class="row">
                    
                <div class="col-12 col-lg-3 py-1" style="padding-left: 15px!important; padding-right: 15px!important">
                    <div class="bg-white w-100 border cuadros">
                        <div class="bg-dark w-100 text-center">
                            <img src="https://raw.githubusercontent.com/RedCiudadana/Instituciones-Justiciapedia/gh-pages/10.-Procurador-de-los-Derechos-Humanos-(PDH).png" class=" img-fluid" alt="Laboratorio">
                        </div>
                        <div class="w-100 p-3 cuadros2">
                            <h4>Procurador de los Derechos Humanos (PDH)</h4>
                            <p style="text-align: center;">

                            </p><br>
                            <a href="/institucion9/index.html" class="btnVerde m-auto" >MÁS INFO.</a>
                        </div>
                    </div>
                </div>
                
                
                <div class="col-12 col-lg-3 py-1" style="padding-left: 15px!important; padding-right: 15px!important">
                    <div class="bg-white w-100 border cuadros">
                    <div class="bg-dark w-100 text-center">
                        <img src="https://raw.githubusercontent.com/RedCiudadana/Instituciones-Justiciapedia/gh-pages/11.-Contraloria-General-de-Cuentas-(CGC).png" class=" img-fluid" alt="Laboratorio">
                    </div>
                    <div class="w-100 p-3 cuadros2">
                        <h4>Contraloria General de Cuentas (CGC)</h4>
                        <p style="text-align: center;">

                        </p><br>
                        <a href="/institucion10/index.html" class="btnVerde m-auto">MÁS INFO.</a>
                    </div>
                    </div>
                </div>
                

                <div class="col-12 col-lg-3 py-1" style="padding-left: 15px!important; padding-right: 15px!important">
                    <div class="bg-white w-100 border cuadros">
                    <div class="bg-dark w-100 text-center">
                        <img src="https://raw.githubusercontent.com/RedCiudadana/Instituciones-Justiciapedia/gh-pages/9.-Instituto-de-la-Defensa-Publica-Penal-(IDPP).png" class=" img-fluid" alt="Laboratorio">
                    </div>
                    <div class="w-100 p-3 cuadros2">
                        <h4>Instituto de la Defensa Pública Penal (IDPP)</h4>
                        <p style="text-align: center;">
                        
                        </p><br>
                        <a href="/institucion11/index.html" class="btnVerde m-auto">MÁS INFO.</a>
                    </div>
                    </div>
                </div>

            
            </div>

        </div>

    </div>

    <!--div class="w-100" style="background-color: #fff">
        <div class="container py-5" style="padding-bottom: 0.2rem!important;">
            <div class="row mx-auto" style="justify-content:center;">
                <div class="col-lg-4">
                    <h4 style="text-align: center;">Con el apoyo de</h4>
                    <div style="text-align:center;margin:3rem">
                        <a href="https://redciudadana.org/"><img  src="/ELEMENTOS/NUEVOS ELEMENTOS/JA-06.png" style="height: 100%;"></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <h4 style="text-align: center;">Un proyecto de</h4>
                    <div style="text-align:center;margin:3rem">
                        <a href="https://redciudadana.org/"><img  src="/ELEMENTOS/NUEVOS ELEMENTOS/JA-07.png" style="height: 100%;"></a>
                    </div>
                </div>
                
            </div>
        </div>
    </div-->
{% endblock %}