---
permalink: "index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Justicia Abierta | Red Ciudadana</title>
<link rel="stylesheet" href="/css/main.css" type="text/css" />
{% endblock %}

{% block content %}

    <div class="popup2">
        <button id="close2">&times;</button>
        <a target="_blank" href="https://bit.ly/EncuentroJusticiaAbierta"><img src="/ELEMENTOS/popup-ju.gif"></a>
    </div>

    <!-- slider-start -->
    <div class="video-container w-100">
        <video muted autoplay loop>
            <source src="/ELEMENTOS/SLIDER-RED-JA.mp4" type="video/mp4; "/>        
        </video>
        <div class="caption">
            <!--h1 class="txt-white">¡La Ciudadanía Propone!</h1-->
            <h1 class="txt-white " >Una justicia cercana a la comunidad, moderna, transparente e independiente</h1>
            <br>
            <a class="ver_todo" href="#">Más Información</a>
        </div>
    </div>


    <!--CONTENIDO-->

     <!-- que es de Justicia Abierta-->
    <div class="section m-0">
        <div class="container py-6">
            <div class="row align-items-center">
                <div class="col-lg-6">

                    <div style="text-align:justify">
                        <h3>¿Qué es Justicia Abierta?</h3>
                        <p style="font-size:18px;line-height:22px">
                            La Justicia Abierta pretende por medio de la innovación del sistema de 
                            justicia y los servicios que presta, resolver los problemas del ámbito 
                            de la justicia o situaciones de extrema injusticia en las que se encuentran 
                            miembros de la sociedad. 
                        </p>
                    </div>

                </div>

                <div class="col-lg-6">

                    <div style="text-align:center">
                        <iframe width="100%" height="330px" src="https://www.youtube.com/embed/jJHiFi5qKSo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--CONTENIDO-->
    <!-- ¿Qué es Justicia Abierta?>
    <div class="section " style="padding-top:65px!important; background-color: #e9ecf2;margin: 0!important;">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">

                    <div style="text-align: center;">
                        <h3 style="font-weight:600">¿Qué es Justicia Abierta?</h3>
                    </div>
                        <p  style="margin: 0 15% 0 15%; text-align:center " class="margin-bottom-15">Guatemala justa, pacífica e inclusiva se propone ser una "hoja de ruta" en materia
                        de políticas publicas para el sector justicia (entendiendo por tal a todas las instituciones
                        involucradas tanto a nivel federal como provincial).</p>

                    <div class="margin-bottom-15" style="margin-top:65px">
                        <div class="row">
                            <div class="col-xl-4" style="display:inline-block; text-align: center; justify-content:center;">
                                <img src="ELEMENTOS/ELEMENTOS WEB/03_ICONOS/ICONOS-25.png" style="max-height:50%">
                                <h4 style="margin: 0 15% 0 15%; text-align:center;font-weight:600" class="mt-20 mb-20">Transparencia</h4>
                                <p style="text-align:center">Lorem Ipsum dolor sit ammet,Lorem Ipsum dolor sit ammet,Lorem Ipsum dolor sit ammet</p>
                            </div>
                            <div class="col-xl-4" style="display:inline-block; text-align: center; justify-content:center;">
                                <img src="ELEMENTOS/ELEMENTOS WEB/03_ICONOS/ICONOS-26.png" style="max-height:50%">
                                <h4 style="margin: 0 15% 0 15%; text-align:center;font-weight:600" class="mt-20 mb-20">Colaboración</h4>
                                <p style="text-align:center">Lorem Ipsum dolor sit ammet,Lorem Ipsum dolor sit ammet,Lorem Ipsum dolor sit ammet</p>
                            </div>
                            <div class="col-xl-4" style="display:inline-block; text-align: center; justify-content:center;">
                                <img src="ELEMENTOS/ELEMENTOS WEB/03_ICONOS/ICONOS-27.png" style="max-height:50%">
                                <h4 style="margin: 0 15% 0 15%; text-align:center;font-weight:600" class="mt-20 mb-20">Participación</h4>
                                <p style="text-align:center">Lorem Ipsum dolor sit ammet,Lorem Ipsum dolor sit ammet,Lorem Ipsum dolor sit ammet</p>
                            </div>
                        </div>
                    </div>

                    

                </div>
            </div>
        </div>
    </div-->

    <!-- Ciclo de Justicia Abierta-->
    <div class="section m-0" style="background-color:#f1f5fd">
        <div class="container my-6">
            <div class="row">
                <div class="col-xl-12">

                    <div style="text-align:center">
                        <h3 style="font-weight:600">Ecosistema de Justicia Abierta</h3>
                    </div>

                    <div class="centered margin-bottom-15" style="margin-left:10%;margin-right:10%">
                        <img style="max-width:100%" src="ELEMENTOS/ELEMENTOS WEB/00_EDITABLE WEB/DIAGRAMA-10.png">
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Ciclo de Justicia Abierta-->
    <div class="section m-0">
        <div class="container my-6">
            <div class="row">
                <div class="col-xl-12 text-center">

                    <h1>Iniciativas</h1>
                    <h6>El Índice de inovación Pública mide las capacidades que poseen las instituciones
                        para generar nuevas o mejoradas ideas
                    </h6>

                </div>
            </div>

            <div class="row py-4 my-4">

                <div class="col-lg-4">
                    <div class="cuadro_inicio">
                        <img style="height:220px; width:100%" src="/ELEMENTOS/08_GRAFICAS/placeholder.png">
                        <br>
                        <h6>Acceso a la Información Pública</h6>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="cuadro_inicio">
                        <img style="height:220px; width:100%" src="/ELEMENTOS/08_GRAFICAS/placeholder.png">
                        <br>
                        <h6>Datos Abiertos</h6>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="cuadro_inicio">
                        <img style="height:220px; width:100%" src="/ELEMENTOS/08_GRAFICAS/placeholder.png">
                        <br>
                        <h6>Diseño de Servicios</h6>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <!-- slider-start -->
    <div class="video-container w-100">
        <video muted autoplay loop>
            <source src="/ELEMENTOS/SLIDER-RED.mp4" type="video/mp4; "/>        
        </video>
        <div class="caption">
            <h3 class="txt-white">Próximamente</h3>
            <h1 class="txt-white " >Encuentro de Justicia Abierta</h1>
            <br>
            <a class="ver_todo" href="#">Más Información</a>
        </div>
    </div>

    <!-- Ciclo de Justicia Abierta-->
    <div class="section m-0">
        <div class="container my-6">
            <div class="row">
                <div class="col-xl-12 text-center">

                    <h1>Cursos de Justicia Abierta</h1>
                    <h6>El Índice de inovación Pública mide las capacidades que poseen las instituciones
                        para generar nuevas o mejoradas ideas
                    </h6>

                </div>
            </div>

            <div class="row py-4 my-4">

                <div class="col-lg-4 my-4">
                    <div class="cuadro_iniciativas">
                        <img style="height:220px; width:100%" src="/ELEMENTOS/08_GRAFICAS/placeholder.png">
                        <div class="texto_cuadro">
                            <h3>Propuestas Justicia Abierta</h3>
                            <p>Lorem ipsum dolor sit amet conseceteur
                                adisadasd elit pulvinar luscts ante sed</p>
                            <br>
                            <a href="#" class="ver_todo">Más info</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 my-4">
                    <div class="cuadro_iniciativas">
                        <img style="height:220px; width:100%" src="/ELEMENTOS/08_GRAFICAS/placeholder.png">
                        <div class="texto_cuadro">
                            <h3>Propuestas Justicia Abierta</h3>
                            <p>Lorem ipsum dolor sit amet conseceteur
                                adisadasd elit pulvinar luscts ante sed</p>
                            <br>
                            <a href="#" class="ver_todo">Más info</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 my-4">
                    <div class="cuadro_iniciativas">
                        <img style="height:220px; width:100%" src="/ELEMENTOS/08_GRAFICAS/placeholder.png">
                        <div class="texto_cuadro">
                            <h3>Propuestas Justicia Abierta</h3>
                            <p>Lorem ipsum dolor sit amet conseceteur
                                adisadasd elit pulvinar luscts ante sed</p>
                            <br>
                            <a href="#" class="ver_todo">Más info</a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

{% endblock %}

{% block body_javascripts %}
    <script src="/js/popup2.js"></script>
{% endblock %}