---
permalink: "indice/index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Justicia Abierta | Índice</title>
<link rel="stylesheet" href="/css/main.css" type="text/css" />
{% endblock %}

{% block content %}

    <!--SLIDER-->  


    <div class="section m-0 py-6" style="background-image:url('/ELEMENTOS/ELEMENTOS MEJORAS_JA/SLIDER/JA-18.png');background-repeat: no-repeat;background-size: 100% 100%;">
        <div class="container my-6">
            <div class="row my-6 py-6">
                <div class="col-lg-12 my-6">

                    <div class="my-6 py-6" style="text-align:center">
                        <img style="padding:25px" src="/ELEMENTOS/ELEMENTOS MEJORAS_JA/ICONOS/med.png">
                        <h3 class="text-white" style="font-size:35px">Índice de Justicia Abierta (IJA)</h3>

                    </div>

                </div>
            </div>
        </div>
    </div>


    <!--CONTENIDO-->

     <!-- que es de Justicia Abierta-->
    <div class="section m-0">
        <div class="container py-6">
            <div class="row align-items-center">
                <div class="col-lg-6">

                    <div style="text-align:justify">
                        <h3>¿Qué es el Índice de Justicia Abierta (IJA)?</h3>
                        <p style="font-size:18px;line-height:22px">
                            El Índice de Justicia Abierta es una herramienta diseñada para evaluar el nivel de apertura y transparencia en el sistema judicial.
                            <br><br> Esta medición se basa en una serie de indicadores y criterios que abarcan aspectos como el acceso a la información pública, la participación ciudadana, la rendición de cuentas y la integridad en el sector de la justicia. A través del IJA, se busca identificar fortalezas y debilidades en el sistema y proporcionar recomendaciones para mejorar la apertura y transparencia.
                        </p>
                        <a href="https://publicaciones.redciudadana.org/2023/Resultados_IJA.pdf" class="btn">Descargar la Metodología</a>

                    </div>

                </div>

                <div class="col-lg-6">

                    <div style="text-align:center">
                        <img src="/ELEMENTOS/08_GRAFICAS/JA_GRAFICA.png">
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Metodología-->
    <div class="section m-0" style="background-color:#f1f5fd">
        <div class="container py-6">
            <div class="row align-items-center">
            
                <div class="col-lg-6">

                    <div style="text-align:justify">
                        <h3>Metodología del Índice de Justicia Abierta (IJA)</h3>
                        <p style="font-size:18px;line-height:22px">
                            El Índice de Justicia Abierta (IJA) utiliza una metodología integral para evaluar el nivel de apertura y transparencia en el sector de justicia. A continuación, se describe la metodología utilizada, considerando los métodos de recolección de información y el proceso de puntuación:
                        </p>
                        <ol style="margin-left:20px">
                            <li style="list-style:auto">Acceso a la Información Pública</li>
                            <li style="list-style:auto">Grupos Focales con Sociedad Civil</li>
                            <li style="list-style:auto">Usuario Simulado</li>
                        </ol>
                    </div>

                </div>

                <div class="col-lg-6">

                    <div style="text-align:center">
                        <img src="/ELEMENTOS/08_GRAFICAS/JA_GRAFICA.png">
                    </div>

                </div>
                
            </div>
        </div>
    </div>


    <!-- Ciclo de Justicia Abierta-->
    <div class="section m-0" >
        <div class="container my-6">
            <div class="row">
                <div class="col-xl-12 text-center">

                    <h1>Resultados del Justicia Abierta (IJA)</h1>
                    <h6>Los resultados del Índice de Justicia Abierta (IJA) proporcionan una evaluación integral del nivel de apertura y transparencia en el sector de justicia. A continuación, se presentan los resultados obtenidos a partir de la evaluación de las instituciones participantes:
                    </h6>

                </div>
            </div>

            <div class="row py-4 my-4">

                <div class="col-lg-6">
                    <div class="cuadro_inicio bg-white h-100">
                        <img src="/ELEMENTOS/08_GRAFICAS/JA_GRAFICA.png">
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="cuadro_inicio bg-white h-100">
                        <img src="/ELEMENTOS/08_GRAFICAS/JA-12.png">
                    </div>
                </div>

            </div>

            <div class="row justify-content-center">
                <div class="col-lg-3">
                    <a href="https://publicaciones.redciudadana.org/2023/Metodologia_IJA.pdf" class="btn">Descargar el Índice</a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
