---
permalink: "indice/index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Justicia Abierta | Índice</title>
<link rel="stylesheet" href="/css/main.css" type="text/css" />
{% endblock %}

{% block content %}

    <!--SLIDER-->  
    <div class="w-100 py-6 slider-indice">
        <div class="container py-5 my-6" >
            <div class="row mx-auto justify-content-center py-6">
                <h1 class="text-white py-6">Índice de Justicia Abierta (IJA)</h1>
            </div>
        </div>
    </div>  


    <!--CONTENIDO-->

     <!-- que es de Justicia Abierta-->
    <div class="section m-0">
        <div class="container py-6">
            <div class="row align-items-center">
                <div class="col-lg-6">

                    <div style="text-align:justify">
                        <h3>¿Qué es el Índice de Justicia Abierta (IJA)?</h3>
                        <p style="font-size:18px;line-height:22px">
                            La Justicia Abierta pretende por medio de la innovación del sistema de 
                            justicia y los servicios que presta, resolver los problemas del ámbito 
                            de la justicia o situaciones de extrema injusticia en las que se encuentran 
                            miembros de la sociedad. 
                        </p>
                    </div>

                </div>

                <div class="col-lg-6">

                    <div style="text-align:center">
                        <img src="/ELEMENTOS/08_GRAFICAS/JA_GRAFICA.png">
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Metodología-->
    <div class="section m-0" style="background-color:#f1f5fd">
        <div class="container py-6">
            <div class="row align-items-center">
                <div class="col-lg-6">

                    <div style="text-align:justify">
                        <h3>Metodología</h3>
                        <p style="font-size:18px;line-height:22px">
                            La Justicia Abierta pretende por medio de la innovación del sistema de 
                            justicia y los servicios que presta, resolver los problemas del ámbito 
                            de la justicia o situaciones de extrema injusticia en las que se encuentran 
                            miembros de la sociedad. 
                        </p>
                    </div>

                </div>

                <div class="col-lg-6">

                    <div style="text-align:center">
                        <img src="/ELEMENTOS/08_GRAFICAS/JA_GRAFICA.png">
                    </div>

                </div>
            </div>
        </div>
    </div>


    <!-- Ciclo de Justicia Abierta-->
    <div class="section m-0" >
        <div class="container my-6">
            <div class="row">
                <div class="col-xl-12 text-center">

                    <h1>Resultados</h1>
                    <h6>El Índice de inovación Pública mide las capacidades que poseen las instituciones
                        para generar nuevas o mejoradas ideas, procesos, productos o servicios que, mediante la co-creación
                        entre diferentes actores.
                    </h6>

                </div>
            </div>

            <div class="row py-4 my-4">

                <div class="col-lg-6">
                    <div class="cuadro_inicio bg-white h-100">
                        <img src="/ELEMENTOS/08_GRAFICAS/JA_GRAFICA.png">
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="cuadro_inicio bg-white h-100">
                        <img src="/ELEMENTOS/08_GRAFICAS/JA-12.png">
                    </div>
                </div>

            </div>

            <div class="row justify-content-center">
                <div class="col-lg-3">
                    <a href="" class="btn">Descargar el Índice</a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}