---
permalink: iniciativas/index.html
---
{% extends "src/base.njk" %}

{% block head %}
<title>Justicia Abierta | Iniciativas</title>
<link rel="stylesheet" href="/css/main.css" type="text/css" />
{% endblock %}

{% block content %}

    <!--SLIDER-->  
    <div class="w-100 py-6 slider-iniciativas" >
        <div class="container py-5 my-6" >
            <div class="row mx-auto justify-content-center py-6">
                <h1 class="text-white py-6">Iniciativas de Justicia Abierta</h1>
            </div>
        </div>
    </div>  

     <!-- Ciclo de Justicia Abierta-->
    <div class="section m-0" >
        <div class="container my-6">
            <div class="row">
                
                <div class="col-lg-4 my-4">
                    <div class="cuadro_iniciativas">
                        <img style="height:220px; width:100%" src="/ELEMENTOS/08_GRAFICAS/placeholder.png">
                        <div class="texto_cuadro">
                            <h3>Propuestas Justicia Abierta</h3>
                            <p>Lorem ipsum dolor sit amet conseceteur
                                adisadasd elit pulvinar luscts ante sed</p>
                            <br>
                            <a href="#" class="ver_todo">Más info</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 my-4">
                    <div class="cuadro_iniciativas">
                        <img style="height:220px; width:100%" src="/ELEMENTOS/08_GRAFICAS/placeholder.png">
                        <div class="texto_cuadro">
                            <h3>Propuestas Justicia Abierta</h3>
                            <p>Lorem ipsum dolor sit amet conseceteur
                                adisadasd elit pulvinar luscts ante sed</p>
                            <br>
                            <a href="#" class="ver_todo">Más info</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 my-4">
                    <div class="cuadro_iniciativas">
                        <img style="height:220px; width:100%" src="/ELEMENTOS/08_GRAFICAS/placeholder.png">
                        <div class="texto_cuadro">
                            <h3>Propuestas Justicia Abierta</h3>
                            <p>Lorem ipsum dolor sit amet conseceteur
                                adisadasd elit pulvinar luscts ante sed</p>
                            <br>
                            <a href="#" class="ver_todo">Más info</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 my-4">
                    <div class="cuadro_iniciativas">
                        <img style="height:220px; width:100%" src="/ELEMENTOS/08_GRAFICAS/placeholder.png">
                        <div class="texto_cuadro">
                            <h3>Propuestas Justicia Abierta</h3>
                            <p>Lorem ipsum dolor sit amet conseceteur
                                adisadasd elit pulvinar luscts ante sed</p>
                            <br>
                            <a href="#" class="ver_todo">Más info</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 my-4">
                    <div class="cuadro_iniciativas">
                        <img style="height:220px; width:100%" src="/ELEMENTOS/08_GRAFICAS/placeholder.png">
                        <div class="texto_cuadro">
                            <h3>Propuestas Justicia Abierta</h3>
                            <p>Lorem ipsum dolor sit amet conseceteur
                                adisadasd elit pulvinar luscts ante sed</p>
                            <br>
                            <a href="#" class="ver_todo">Más info</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 my-4">
                    <div class="cuadro_iniciativas">
                        <img style="height:220px; width:100%" src="/ELEMENTOS/08_GRAFICAS/placeholder.png">
                        <div class="texto_cuadro">
                            <h3>Propuestas Justicia Abierta</h3>
                            <p>Lorem ipsum dolor sit amet conseceteur
                                adisadasd elit pulvinar luscts ante sed</p>
                            <br>
                            <a href="#" class="ver_todo">Más info</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
