---
permalink: iniciativas/index.html
---
{% extends "src/base.njk" %}

{% block head %}
<title>Justicia Abierta | Iniciativas</title>
<link rel="stylesheet" href="/css/main.css" type="text/css" />
{% endblock %}

{% block content %}

    <!--SLIDER-->  
    <div class="w-100 py-6" style="background-color: #f1f5fd">
        <div class="container py-5 my-6" >
            <div class="row mx-auto" style="justify-content:center;display: block!important;margin: 2rem 0;">
                <!--div class="img-circular mt-20 mb-20">
                    <img  src="/ELEMENTOS/ELEMENTOS WEB/03_ICONOS/ICONOS-30.png">  
                </div-->
                <h1 style="text-align: center;">Iniciativas</h1>
            </div>
        </div>
    </div>  

     <!-- Ciclo de Justicia Abierta-->
    <div class="section m-0" >
        <div class="container my-6">
            <div class="row">
                
                <div class="col-lg-4 my-4">
                    <div class="cuadro_iniciativas">
                        <div class="cuadro_imagen"></div>
                        <div class="texto_cuadro">
                            <h3>Propuestas Justicia Abierta</h3>
                            <p>Lorem ipsum dolor sit amet conseceteur
                                adisadasd elit pulvinar luscts ante sed</p>
                            <br>
                            <a href="#" class="ver_todo">Más info</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 my-4">
                    <div class="cuadro_iniciativas">
                        <div class="cuadro_imagen"></div>
                        <div class="texto_cuadro">
                            <h3>Propuestas Justicia Abierta</h3>
                            <p>Lorem ipsum dolor sit amet conseceteur
                                adisadasd elit pulvinar luscts ante sed</p>
                            <br>
                            <a href="#" class="ver_todo">Más info</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 my-4">
                    <div class="cuadro_iniciativas">
                        <div class="cuadro_imagen"></div>
                        <div class="texto_cuadro">
                            <h3>Propuestas Justicia Abierta</h3>
                            <p>Lorem ipsum dolor sit amet conseceteur
                                adisadasd elit pulvinar luscts ante sed</p>
                            <br>
                            <a href="#" class="ver_todo">Más info</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 my-4">
                    <div class="cuadro_iniciativas">
                        <div class="cuadro_imagen"></div>
                        <div class="texto_cuadro">
                            <h3>Propuestas Justicia Abierta</h3>
                            <p>Lorem ipsum dolor sit amet conseceteur
                                adisadasd elit pulvinar luscts ante sed</p>
                            <br>
                            <a href="#" class="ver_todo">Más info</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 my-4">
                    <div class="cuadro_iniciativas">
                        <div class="cuadro_imagen"></div>
                        <div class="texto_cuadro">
                            <h3>Propuestas Justicia Abierta</h3>
                            <p>Lorem ipsum dolor sit amet conseceteur
                                adisadasd elit pulvinar luscts ante sed</p>
                            <br>
                            <a href="#" class="ver_todo">Más info</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 my-4">
                    <div class="cuadro_iniciativas">
                        <div class="cuadro_imagen"></div>
                        <div class="texto_cuadro">
                            <h3>Propuestas Justicia Abierta</h3>
                            <p>Lorem ipsum dolor sit amet conseceteur
                                adisadasd elit pulvinar luscts ante sed</p>
                            <br>
                            <a href="#" class="ver_todo">Más info</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
